{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}


{% block content %}
    <h1>{{ name }}</h1>
    <p>
    <a href="{{ link }}">lien généré ver cette route</a>

    </p>

    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

    <h1>Entity demo</h1>
    <ul>
        {% for demo in demos %}
            <li>{{ demo.name }} -> {{ demo.date|date }} : {{ demo.id }}</li>
        {% endfor %}
    </ul>




{% endblock %}

